<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Accounts</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Accounts</h1>
                <table>
                    <tead>
                        <tr>
                            <th>Name</th>
                            <th>Number</th>
                            <th>Number of receipts</th>
                        </tr>
                    </tead>
                    <tbody>
                        {% for account in accounts %}
                        <tr>
                            <td>{{account.name}}</td>
                            <td>{{account.number}}</td>
                            <td>{{account.receipts.count}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
